<h3>User's List:</h3>
<% @users.each do |user| %>
<section class = "user">
    <div>
        <%= image_tag user.photo %>
    </div>
    <div class = "details">
        <h2><%= user.name %></h2>
        <p>
            Number of posts: <%= user.posts_counter %>
        </p>
    </div>
</section>
    <% end %>


